body {
	background-image: url("./images/backgroundplaceholder.png");
	background-repeat: no-repeat;
	background-size: 1280px;
	background-color: #85AED0 !important;
	color: #fff;
	line-height: 1.6;
	text-align: center;
	
}

.coDetails {
	color:#88B0D7;
	background-color:  #003B6D;
	text-align: center;
}

.companyInfo {
	font-weight: 200;
	font-family: 'Bebas Neue', cursive;
	color: lightgrey;
	margin-left: 4px;	
} 

h1 {
	font-weight: lighter;
	font-family: 'Bebas Neue', cursive;
	color: whitesmoke;
	text-align: center;
	background-color:  #003B6D;
}

lh {
	font-weight: 100;
	font-family: 'Bebas Neue', cursive;
	color: whitesmoke;
	margin-left: 2px;
	text-align: center;
	text-shadow: 1px 1px 1px black;	
} 

ul {
	text-align: center;
	list-style-type: none;	
	padding: 1px;		
}

li {
	list-style-type: none;
	font-family: 'Pavanam', sans-serif;
	font-weight:900;
	color: black;	
	text-shadow: 1px 1px 1px #ccc;
	text-align: center; 
	padding: 1px;	
}

.info {
	font-family: 'Pavanam', sans-serif;
	font-weight: 100;
	color: #BDBDBD;
	padding: 1px;	
}

.contact {
	font-family: 'Pavanam', sans-serif;
	font-weight: 200;
	color: #003B6D;
	padding: 1px;	
}

.contactInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	font-family: 'Pavanam', sans-serif;
	font-weight: bold;
	color:#003B6D;
}

i {
	color:#003B6D;
	font-family: 'Pavanam', sans-serif;
	padding: 1px;	
}

a:link {
	color:#003B6D;
}


/* font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
Photo by <a href="https://unsplash.com/@homajob?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Scott Graham</a> on <a href="https://unsplash.com/s/photos/taxes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@micheile?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">micheile dot com</a> on <a href="https://unsplash.com/s/photos/calculator?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@micheile?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">micheile dot com</a> on <a href="https://unsplash.com/s/photos/calculator?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@towfiqu999999?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Towfiqu barbhuiya</a> on <a href="https://unsplash.com/s/photos/calculator?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@fin21?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">FIN</a> on <a href="https://unsplash.com/s/photos/calculator?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo by <a href="https://unsplash.com/@fin21?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">FIN</a> on <a href="https://unsplash.com/s/photos/calculator?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */